* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
    background-color: #ffffff; /* Fondo blanco para todo el cuerpo */
    color: #ffffff; /* Color de texto blanco */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    min-height: 1080px;
    background-image: url(images/background.jpg); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Texto blanco sobre la imagen de fondo */

}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente para el menú */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}


.menu .navbar ul {
    display: flex;
}

.menu .navbar ul li {
    margin: 0 10px;
}

.menu .navbar ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.menu .navbar ul li a:hover {
    color: #edeaf3; /* Color de enlace hover */
}

.menu .menu-icon {
    display: none; /* Ocultar el icono del menú en pantallas grandes */
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align:center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #c90f0f;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #ffffff;
  }
  

@media (max-width: 991px) {
    .content {
        min-height: 70px;
    }

    .menu {
        position: relative;
    }

    .menu .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu label {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(
            90deg,
            rgb(0, 0, 0) 0%,
            rgb(255, 255, 255) 70%
        );
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
        z-index: 999;
        color: #fff;
    }

    .menu .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9); /* Fondo del menú desplegable */
    }

    .menu #menu:checked ~ .navbar {
        display: flex;
    }

    .menu .navbar ul {
        flex-direction: column;
        padding: 10px 0;
    }

    .menu .navbar ul li {
        margin: 10px 0;
    }

    .menu .navbar ul li a {
        padding: 10px;
    }
}
